<%= require('./html-includes/header.html')() %>

<section class="not-found relative">
  <div class="started-background absolute-fit">
    <img src="img/started-texture.jpg" alt="" class="absolute-fit object-cover" />
    <img
      src="img/started-lines-left.svg"
      alt=""
      class="absolute-fit object-cover object-left-top max-md:hidden"
      loading="lazy"
    />
    <img
      src="img/started-lines-right.svg"
      alt=""
      class="absolute-fit object-cover object-right-top max-md:hidden"
      loading="lazy"
    />
    <img
      src="img/started-lines-sm.svg"
      alt=""
      class="absolute-fit object-contain object-right-top md:hidden"
      loading="lazy"
    />
  </div>
  <div class="not-found-title relative">
    4
    <img src="img/not-found.png" alt="" class="not-found-image" />
    4
  </div>
  <div class="relative max-sm:text-sm">
    Возможно, запрашиваемая Вами страница была перенесена или удалена. <br class="max-md:hidden" />
    Либо Вы допустили небольшую опечатку при вводе адреса.
  </div>
  <a href="/" class="btn btn-sec btn-fill mt-6 text-black"> Вернуться на главную </a>
</section>

<%= require('./html-includes/footer.html')() %>
