<%= require('./html-includes/header.html')() %>

<section class="started">
  <div class="started-background absolute-fit">
    <img src="img/started-texture.jpg" alt="" class="object-cover absolute-fit" />
    <img src="img/started-lines-left.svg" alt="" class="object-cover object-left-top absolute-fit max-md:hidden" loading="lazy" />
    <img src="img/started-lines-right.svg" alt="" class="object-cover object-right-top absolute-fit max-md:hidden" loading="lazy" />
    <img src="img/started-lines-sm.svg" alt="" class="object-contain object-right-top absolute-fit md:hidden" loading="lazy" />
  </div>
  <div class="started-radar radar" data-animation="fadeIn" data-delay="0.4" data-duration="3">
    <div class="radar-line radar-line-1"></div>
    <div class="radar-line radar-line-2"></div>
    <div class="radar-line radar-line-3"></div>

    <div class="radar-monitor">
      <div class="radar-indicator"></div>
      <div class="radar-screen">
        <img src="/img/radar-lines.svg" alt="" class="radar-lines" />

        <!-- <div class="absolute font-bold left-20 top-1/4 md:text-7xl">Х У Й</div> -->

        <!-- <img src="/img/test.gif" alt="" class="absolute top-36 right-40 w-28" /> -->
      </div>
    </div>
  </div>
  <div class="started-content">
    <div class="mb-10 started-logo" data-animation="fadeInUp" data-delay="0.1">
      <img src="/img/logo.svg" alt="" />
    </div>
    <div class="uppercase font-bold text-1.5xl md:text-4xl mb-4" data-animation="fadeInUp" data-delay="0.15">
      СПЕЦИАЛИЗИРОВАННАЯ ЭКСПОЗИЦИЯ
    </div>
    <div class="uppercase font-bold md::text-2.2xl started-subtitle" data-animation="fadeInUp" data-delay="0.2">
      СУДОСТРОЕНИЯ, СУДОРЕМОНТА, ОБОРУДОВАНИЯ <br class="max-sm:hidden" />
      И ПОРТОВОЙ ИНФРАСТРУКТУРЫ
    </div>
    <div class="mt-6 started-date sm:mt-12" data-animation="fadeInUp" data-delay="0.25">
      <div class="flex items-center gap-4 px-8 py-5 bg-white text-primary">
        <c-icon class="icon text-3.5xl" href="img/icons.svg#calendar"></c-icon>
        <div class="text-xl font-bold uppercase md:text-3xl">17-19 сентября 2024</div>
      </div>
      <div class="p-4 font-bold uppercase max-md:text-sm">Санкт-Петербург, КВЦ «ЭКСПОФОРУМ»</div>
    </div>
    <div data-animation="fadeInUp" data-delay="0.3">
      <button class="gap-2 mt-6 text-black btn btn-sec btn-fill sm:mt-12">
        <c-icon class="icon text-1.5xl" href="img/icons.svg#anchor"></c-icon>
        Забронировать стенд
      </button>
    </div>
  </div>
</section>

<section class="relative sign">
  <img src="img/sign-lines.png" alt="" class="absolute-fit opacity-30" />
  <img src="img/ship-logo.svg" alt="" class="relative w-8 h-6 sm:h-7 sm:w-10" />
  <div class="relative font-semibold max-sm:text-2xs">В рамках Global Fishery Forum & Seafood Expo Russia</div>
</section>

<!-- о мероприятии -->
<section class="about bg-l3" id="about">
  <div>
    <div class="mb-6 title sm:mb-10" data-animation="fadeInUp">о мероприятии</div>
    <div class="leading-normal max-lg:text-sm" data-animation="fadeInUp">
      <b>
        SHIP TECH GLOBAL – проект выставочной команды Expo Solutions Group – организатора выставки Seafood Expo Russia.
      </b>
      <br /><br />
      Стремительный рост разделов судового оборудования и судостроения в рамках рыбопромышленной выставки, а также
      успешный опыт организаторов в обеспечении эффективного взаимодействия всех участников отрасли, который выражается
      в реальных заказах и росте бизнеса компаний, позволили расширить тематику и предложить аналогичный подход к
      сотрудничеству и налаживанию новых взаимовыгодных связей для всей индустрии гражданского судостроения.
    </div>
    <div class="relative mt-10 about-jigurda" data-animation="fadeInUp">
      <img src="img/about-jigurda.png" alt="" class="object-right-top absolute-fit" />
      <div class="relative">
        <div class="font-semibold max-sm:text-sm">
          SHIP TECH GLOBAL – новое место встречи всех представителей индустрии гражданского судостроения, судоремонта и
          портовой инфраструктуры
        </div>
        <button class="gap-2 mt-6 text-black btn btn-sec btn-fill">
          <c-icon class="icon text-1.5xl" href="img/icons.svg#anchor"></c-icon>
          Забронировать стенд
        </button>
      </div>
    </div>
  </div>
  <div class="overflow-hidden ratio ratio-1/1 rounded-2xl" data-animation="fadeInUp">
    <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
    <div class="absolute bottom-0 left-0 w-full h-3 bg-sec"></div>
  </div>
</section>

<!-- SHIP TECH GLOBAL - это -->
<section class="this">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">SHIP TECH GLOBAL - это</div>
  <div class="grid lg:grid-cols-2 gap-2.5">
    <% for(let i = 0; i < 4; i++) { %>
    <div class="flex items-center gap-6 p-2 shadow-base bg-l3 rounded-2xl" data-animation="fadeInUp">
      <div class="flex w-24 h-16 sm:h-20 sm:w-40 bg-primary/10 rounded-xl">
        <div class="font-black text-xl sm:text-3.5xl m-auto text-primary">200+</div>
      </div>
      <div class="font-semibold max-sm:text-sm">российских и зарубежных компаний</div>
    </div>
    <% } %>
  </div>
  <div class="grid lg:grid-cols-2 gap-2.5 mt-6">
    <div class="this-anchors" data-animation="fadeInUp">
      <div class="flex flex-col gap-5 sm:gap-7">
        <% for(let i = 0; i < 4; i++) { %>
        <div class="flex items-center gap-2 sm:gap-5">
          <div class="flex text-black rounded-lg size-10 bg-sec shrink-0">
            <c-icon class="m-auto text-lg icon" href="img/icons.svg#anchor"></c-icon>
          </div>
          <div class="max-sm:text-sm"><b>Уникальная аудитория</b> судовладельцев и поставщиков и судостроителей</div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="ratio ratio-[610/352] rounded-2xl overflow-hidden" data-animation="fadeInUp">
      <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
      <div class="absolute bottom-0 left-0 w-full h-2 bg-sec"></div>
    </div>
  </div>
</section>

<!-- ДЛЯ КаКОГО СЕКТОРА -->
<section class="categories bg-l3">
  <div class="mb-6 text-center title sm:mb-10" data-animation="fadeInUp">ДЛЯ КаКОГО СЕКТОРА</div>

  <div class="grid grid-cols-2 gap-3 sm:grid-cols-3 lg:grid-cols-5 sm:gap-5">
    <% for(let i = 0; i < 5; i++) { %>
    <div class="categories-item ratio ratio-[230/310]" data-animation="fadeInUp">
      <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
      <div class="categories-item-content absolute-fit">
        <div class="text-xl font-semibold <%= i % 2 == 0 ? 'text-black' : 'text-white' %> max-sm:text-sm">Верфи</div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- для кого -->
<section class="who" id="who">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">для кого</div>

  <div class="grid who-block lg:grid-cols-2" data-animation="fadeInUp">
    <div class="px-4 py-6 sm:p-12">
      <div class="mb-3 text-lg font-bold uppercase sm:text-xl sm:mb-6">
        Участники процесса <br />
        реализации заказа
      </div>
      <div class="mb-6 max-sm:text-sm">
        мероприятие будет полезно специалистам, занятым в различного рода процессах, связанных с ремонтом судов,
        проектированием, финансовым обеспечением и так далее
      </div>
      <div class="flex flex-col divide-y divide-dashed divide-default/10">
        <% for(let i = 0; i < 7; i++) { %>
        <div class="flex items-center gap-3 py-2 sm:py-4">
          <c-icon class="text-2xl icon text-sec" href="img/icons.svg#circle-check"></c-icon>
          <div class="max-sm:text-sm">Судостроительные и судоремонтные заводы</div>
        </div>
        <% } %>
      </div>
    </div>
    <div class="ratio ratio-[343/387]">
      <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
    </div>
  </div>
</section>

<!-- как это будет -->
<section class="how">
  <div class="mb-6 title sm:mb-8 sm:hidden" data-animation="fadeInUp">как это будет</div>
  <div class="relative grid how-block lg:grid-cols-2" data-animation="fadeInUp">
    <div class="px-4 py-6 sm:p-12">
      <div class="mb-6 title sm:mb-8 max-sm:hidden">как это будет</div>
      <div class="max-sm:text-sm">
        <b>Экспозиция SHIP TECH GLOBAL расположится на одной площадке с выставкой Seafood Expo Russia.</b>
        <br /><br />
        Компании-экспоненты нового мероприятия будут отмечены специальным значком на плане и в путеводителе выставки.
        <br /><br />
        Так, целевым покупателям – заказчикам новых промысловых, транспортных и всех других видов судов – будет проще
        найти интересующих их производителей и участников процессов строительства и эксплуатации.
      </div>
    </div>
    <div class="ratio ratio-[620/462]">
      <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
    </div>
    <div class="absolute bottom-0 left-0 w-full h-2 bg-sec/60"></div>
  </div>
</section>

<!-- ПРИ ПОДДЕРЖКЕ -->
<section class="support bg-l3">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">ПРИ ПОДДЕРЖКЕ</div>
  <div class="grid grid-cols-2 gap-3 lg:grid-cols-4 sm:gap-6" data-animation="fadeInUp">
    <% for(let i = 0; i < 4; i++) { %>
    <div class="p-5 border support-item rounded-2xl border-default/10">
      <div class="ratio ratio-1/1">
        <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
      </div>
    </div>
    <% } %>
  </div>
</section>

<!-- деловая программа -->
<section class="programm" id="programm" data-tab-cover>
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">деловая программа</div>

  <div class="relative mb-10">
    <div class="programm-tabs swiper -mx-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="0" class="cursor-pointer programm-tab">17 октября (День 1)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="1" class="cursor-pointer programm-tab">18 октября (День 2)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="2" class="cursor-pointer programm-tab">19 октября (День 3)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="3" class="cursor-pointer programm-tab">20 октября (День 4)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="4" class="cursor-pointer programm-tab">17 октября (День 1)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="5" class="cursor-pointer programm-tab">18 октября (День 2)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="6" class="cursor-pointer programm-tab">19 октября (День 3)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="7" class="cursor-pointer programm-tab">20 октября (День 4)</div>
        </div>
        <!-- <div class="programm-tabs-plate" data-tab-plate></div> -->
      </div>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 right-full mr-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full programm-slider-prev">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 left-full ml-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full programm-slider-next">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>
  <div class="tab-content-cover">
    <% for(let i = 0; i < 7; i++) { %>
    <div class="tab-content" data-tab-content="<%= i %>">
      <div class="flex md:items-center max-md:flex-col mb-6 sm:mb-12 gap-4">
        <div class="title normal-case" data-animation="fadeInUp">18 октября (День 2)</div>
        <div class="flex sm:items-center max-sm:flex-col gap-2 sm:gap-4 md:ml-auto" data-animation="fadeInUp">
          <a href="javascript:;" class="btn btn-fill btn-primary">Скачать программу</a>
          <a href="javascript:;" class="btn btn-primary btn-contur">
            <span class="text-default">Посмотреть материалы</span>
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <!-- Регистрация -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Регистрация</div>
        </div>
        <!-- Открытие заседания -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Открытие заседания</div>
          <div class="mt-6 group" data-toggle-cover>
            <div class="mb-4 font-semibold sm:text-xl sm:mb-6">
              Пленарная сессия “Международная кооперация и инновации на рынке термочувствительных грузов”
            </div>
            <div class="mb-3 font-semibold">Ключевые вопросы:</div>
            <ul class="pl-5 leading-loose list-disc">
              <li>Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.</li>
              <li>Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li>Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.</li>
              <li>Инвестиционные проекты в рыбной отрасли.</li>
              <li>
                Развитие инфраструктуры и технологий для обеспечения НХЦ на торговых маршрутах международного рынка
                скоропортящейся продукции.
              </li>
              <li>Фарма-рынок: интеграция производства и логистики.</li>
              <li>Подготовка кадров для холодильной отрасли.</li>

              <li class="active-enabled">
                Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.
              </li>
              <li class="active-enabled">Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li class="active-enabled">
                Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.
              </li>
              <li class="active-enabled">Инвестиционные проекты в рыбной отрасли.</li>
            </ul>

            <button class="relative gap-2 mt-6 btn btn-blue btn-text" data-toggle-link>
              <div class="absolute -inset-4"></div>
              <span class="font-semibold active-disabled">Показать полностью</span>
              <span class="font-semibold active-enabled">Скрыть</span>
              <c-icon class="icon rotate-90 group-[.toggle-active]:-rotate-90" href="/img/icons.svg#to-right"></c-icon>
            </button>
          </div>
        </div>
        <!-- Перерыв -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Перерыв</div>
        </div>
        <!-- Кейс-сессия -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex flex-wrap gap-4 mb-3 sm:mb-4 max-sm:gap-x-1">
            <div class="flex h-10 border rounded-full w-36 sm:w-44 border-primary/50">
              <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
            </div>
            <div class="flex h-10 px-5 border rounded-full sm:px-6 border-default/20">
              <div class="m-auto">Конференц-зал</div>
            </div>
            <div class="flex rounded-full size-10 bg-sec/15">
              <c-icon class="m-auto text-2xl icon text-sec" href="/img/icons.svg#star"></c-icon>
            </div>
            <div class="flex border rounded-full size-10 border-default/20">
              <c-icon class="m-auto text-2xl icon" href="/img/icons.svg#headphones"></c-icon>
            </div>
            <div class="flex border rounded-full size-10 border-default/20">
              <c-icon class="m-auto text-2xl icon" href="/img/icons.svg#link"></c-icon>
            </div>
            <div class="flex items-center h-10 gap-3 pl-1 pr-6 border rounded-full border-default/20">
              <div class="flex rounded-full size-8 bg-primary">
                <c-icon class="m-auto text-2xl text-white icon" href="/img/icons.svg#online"></c-icon>
              </div>
              <div class="m-auto">Online</div>
            </div>
          </div>
          <div class="text-xl sm:text-3.5xl font-semibold">
            Кейс-сессия “Международная кооперация и инновации на рынке термочувствительных грузов”
          </div>

          <div class="mt-6 group" data-toggle-cover>
            <div class="mb-3 font-semibold">Ключевые вопросы:</div>
            <ul class="pl-5 leading-loose list-disc">
              <li>Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.</li>
              <li>Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li>Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.</li>
              <li>Инвестиционные проекты в рыбной отрасли.</li>
              <li>
                Развитие инфраструктуры и технологий для обеспечения НХЦ на торговых маршрутах международного рынка
                скоропортящейся продукции.
              </li>
              <li>Фарма-рынок: интеграция производства и логистики.</li>
              <li>Подготовка кадров для холодильной отрасли.</li>

              <li class="active-enabled">
                Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.
              </li>
              <li class="active-enabled">Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li class="active-enabled">
                Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.
              </li>
              <li class="active-enabled">Инвестиционные проекты в рыбной отрасли.</li>
            </ul>

            <button class="gap-2 mt-6 btn btn-blue btn-text" data-toggle-link>
              <span class="font-semibold active-disabled">Показать полностью</span>
              <span class="font-semibold active-enabled">Скрыть</span>
              <c-icon class="icon rotate-90 group-[.toggle-active]:-rotate-90" href="/img/icons.svg#to-right"></c-icon>
            </button>
          </div>

          <div class="mt-6">
            <div class="mb-4 text-xl font-semibold">Спикеры</div>

            <div class="grid gap-6 md:grid-cols-2">
              <% for(let i = 0; i < 4; i++) { %>
              <div class="flex items-center gap-3">
                <img src="img/test.gif" alt="" class="object-cover rounded-full size-14" />
                <div>
                  <div class="font-semibold max-sm:text-sm">Дмитрий Патрушев</div>
                  <div class="text-sm opacity-60 max-sm:text-xs">Министр сельского хозяйства Российской Федерации</div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="mt-6">
            <div class="mb-4 text-xl font-semibold">Модератор</div>

            <div class="grid gap-6 md:grid-cols-2">
              <div class="flex items-center gap-3">
                <img src="img/test.gif" alt="" class="object-cover rounded-full size-14" />
                <div>
                  <div class="font-semibold max-sm:text-sm">Дмитрий Песков</div>
                  <div class="text-sm opacity-60 max-sm:text-xs">Пресс-секретарь президента России</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex gap-6 mt-6 md:flex-wrap md:gap-14 max-md:flex-col">
            <div>
              <div class="mb-4 text-xl font-semibold">Организаторы</div>
              <div class="flex flex-wrap grid-cols-2 gap-4 max-md:grid sm:grid-cols-3">
                <% for(let i = 0; i < 4; i++) { %>
                <div class="p-3 border support-item rounded-2xl border-default/10 md:w-40">
                  <div class="ratio ratio-4/3">
                    <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div>
              <div class="mb-4 text-xl font-semibold">Информационные партнеры</div>
              <div class="flex flex-wrap grid-cols-2 gap-4 max-md:grid sm:grid-cols-3">
                <% for(let i = 0; i < 2; i++) { %>
                <div class="p-3 border support-item rounded-2xl border-default/10 md:w-40">
                  <div class="ratio ratio-4/3">
                    <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>
<script>
  new Swiper('.programm-tabs', {
    slidesPerView: 'auto',
    slideToClickedSlide: true,
    navigation: {
      prevEl: '.programm-slider-prev',
      nextEl: '.programm-slider-next',
    }
  })
</script>

<!-- Новости -->
<section class="overflow-hidden news bg-l3" id="news">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">Новости</div>

  <div class="relative" data-animation="fadeInUp">
    <div class="news-slider swiper -mx-2 lg:-mx-3.5 max-md:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>
        <div class="swiper-slide w-[300px] md:w-1/3 lg:w-1/4 px-2 lg:px-3.5">
          <div class="h-full news-item">
            <div class="ratio ratio-[285/214]">
              <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
            </div>
            <div class="p-2 py-4 lg:p-6 news-item-content">
              <div class="mb-3 opacity-70 max-sm:text-sm">21.06.2024</div>
              <div class="mb-3 font-bold sm:text-xl">Открытие SHIP TECH GLOBAL в Экспофорум</div>
              <div class="line-clamp-3 opacity-70 max-lg:text-sm">
                Проект выставочной команды Expo Solutions Group – организатора выставки Seafood Проект выставочной
                команды Expo Solutions Group – организатора выставки Seafo...
              </div>
              <div class="mt-8"></div>
              <button class="mt-auto btn btn-primary btn-fill max-sm:w-full max-sm:px-1">Подробнее</button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="absolute top-1/2 right-full -mr-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full news-slider-prev">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>

    <div class="absolute top-1/2 left-full -ml-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full news-slider-next">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>
  <div class="flex mt-8" data-animation="fadeInUp">
    <a href="javascript:;" class="mx-auto btn btn-primary btn-contur max-sm:w-full">Все новости</a>
  </div>
</section>
<script>
  new Swiper('.news-slider', {
    slidesPerView: 'auto',
    navigation: {
      prevEl: '.news-slider-prev',
      nextEl: '.news-slider-next',
    },
  })
</script>

<!-- информационные партнеры -->
<section class="partner bg-l3" data-toggle-cover>
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">информационные партнеры</div>
  <div class="grid grid-cols-2 gap-3 lg:grid-cols-5 sm:gap-5">
    <% for(let i = 0; i < 10; i++) { %>
    <div class="partner-item p-5 rounded-2xl bg-l3 shadow-base <%= i > 5 ? 'max-lg:active-enabled' : '' %>" data-animation="fadeInUp">
      <div class="ratio ratio-1/1">
        <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
      </div>
    </div>
    <% } %> <% for(let i = 0; i < 10; i++) { %>
    <div class="p-5 partner-item rounded-2xl bg-l3 shadow-base active-enabled" data-animation="fadeInUp">
      <div class="ratio ratio-1/1">
        <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
      </div>
    </div>
    <% } %>
  </div>
  <div class="flex mt-8 active-disabled" data-animation="fadeInUp">
    <a href="javascript:;" data-toggle-link class="mx-auto btn btn-primary btn-fill max-sm:w-full"> Все партнеры </a>
  </div>
</section>

<!-- МЕСТО ПРОВЕДЕНИЯ -->
<section class="place bg-l3" id="place">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">МЕСТО ПРОВЕДЕНИЯ</div>
  <div class="grid gap-4 p-4 md:grid-cols-2 bg-l2 rounded-xl sm:rounded-2xl" data-animation="fadeInUp">
    <div class="ratio ratio-[31/22] md:ratio-[592/632] rounded-xl sm:rounded-2xl overflow-hidden">
      <img src="img/test.gif" alt="" class="object-cover absolute-fit" />
    </div>
    <a href="img/scheme-sempl.png" data-fancybox class="p-6 rounded-xl sm:rounded-2xl bg-l3">
      <div class="mb-8 text-xl font-semibold sm:text-2xl">Схема комплекса</div>
      <img src="img/scheme-sempl.png" alt="" class="mx-auto" />
    </a>
  </div>

  <div class="mt-4 place-jigurda" data-animation="fadeInUp">
    <div class="mb-6 text-xl font-bold">КВЦ «ЭКСПОФОРУМ», КОНФЕРЕНЦ-ЗАЛ Е7</div>
    <div class="max-sm:text-sm">
      Экспофорум - новый конгрессно-выставочный центр, открывшийся в Санкт-Петербурге в 2014 году. <br />
      Это самая современная в Европе и России площадка для проведения деловых и развлекательных мероприятий любого
      масштаба и формата
    </div>
    <div class="mt-4 font-semibold text-sec max-sm:text-sm">196140, Санкт-Петербург, Петербургское шоссе, 64/1</div>
  </div>
</section>

<script>
  window.maplocation = [59.763058, 30.357056]
</script>
<div class="map" id="contact-map"></div>

<!-- контакты -->
<section class="contacts" id="contacts">
  <div class="mb-6 title sm:text-center sm:mb-10" data-animation="fadeInUp">контакты</div>

  <div class="grid gap-4 lg:grid-cols-2 lg:gap-8">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="flex items-center gap-3 p-4 sm:pl-10 rounded-2xl bg-l3 text-default" data-animation="fadeInUp">
      <div>
        <div class="font-semibold text-lg sm:text-2.5xl">Екатерина Гриценко</div>
        <div class="max-sm:text-xs">Директор деловой программы</div>
        <div class="flex mt-3 sm:mt-5">
          <a href="javascript:;" class="relative gap-1 btn btn-text sm:gap-3 hover-underline">
            <div class="absolute -inset-4"></div>
            <c-icon class="text-2xl icon text-primary" href="/img/icons.svg#email"></c-icon>
            <div class="max-sm:text-xs">e.gritsenko@rusfishexpo.com</div>
          </a>
        </div>
      </div>
      <img src="img/test.gif" alt="" class="object-cover ml-auto rounded-lg size-20 sm:size-40" />
    </div>
    <% } %>
  </div>
</section>

<%= require('./html-includes/footer.html')() %>