<%= require('./html-includes/header.html')() %>
<!--  -->
<%= require('./html-includes/page-top.html')() %>

<section class="p-section bg-l3">
  <div class="flex flex-wrap items-center gap-5 mb-6" data-animation="fadeInUp">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="flex items-center justify-center h-10 px-6 text-base font-normal text-center border border-solid rounded-full border-default/20">#важное</div>
    <% } %>
    <span class="text-sm font-semibold sm:text-base ml-auto">21.03.2024</span>
  </div>
  <div class="news-plug rounded-2xl flex items-center justify-center overflow-hidden min-h-30 sm:min-h-48 py-6 px-4">
    <div class="text-center text-xl lg:text-2xl font-semibold sm:uppercase">Ooopps! <br class="sm:hidden"> We have not translated it yet</div>
  </div>
</section>

<%= require('./html-includes/footer.html')() %>