<%= require('./html-includes/header.html')() %>
<!--  -->
<%= require('./html-includes/page-top.html')() %>

<section class="p-section bg-l3">
  <div class="flex gap-4 mb-12 max-md:flex-col">
    <div>
      <div class="mb-2 text-sm font-medium">Популярные темы</div>
      <div class="flex flex-wrap gap-2">
        <% for(let i = 0; i < 3; i++) { %>
        <a href="javascript:;" class="btn btn-sm rounded-full btn-primary <%= i === 0 ? 'btn-fill' : 'btn-contur border-default/20' %>">
          <span class="font-normal">#важное</span>
        </a>
        <% } %>
      </div>
    </div>
    <div class="md:w-1/2 md:ml-auto">
      <div class="mb-2 text-sm font-medium">Поиск по темам</div>
      <c-menu>
        <div class="relative">
          <c-menu-button class="justify-start w-full px-4 cursor-pointer rounded-xl btn btn-sm btn-contur btn-primary border-default/20">
            <div class="text-sm text-left">Важно, Рыба</div>
            <c-icon class="absolute -translate-y-1/2 icon right-4 top-1/2 group-[.active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
          </c-menu-button>
          <div class="absolute -translate-y-1/2 right-12 top-1/2">
            <a href="javascript:;" class="btn btn-text btn-black">
              <c-icon class="text-xs icon" href="img/icons.svg#cross"></c-icon>
            </a>
          </div>
        </div>
        <c-menu-items class="w-full" placement="bottom">
          <div class="p-4">
            <div class="mb-5 text-lg font-medium">О мероприятии</div>
            <div class="flex flex-col gap-3">
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" checked class="rounded-lg checkbox" />
                <div class="">Важно</div>
              </label>
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="rounded-lg checkbox" />
                <div class="">Тренды</div>
              </label>
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="rounded-lg checkbox" />
                <div class="">Выставка</div>
              </label>
            </div>
            <div class="mb-5 text-lg font-medium mt-7">Выставочные секторы</div>
            <div class="flex flex-col gap-3">
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" checked class="rounded-lg checkbox" />
                <div class="">Рыба</div>
              </label>
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="rounded-lg checkbox" />
                <div class="">Рыба</div>
              </label>
              <label class="flex items-start gap-3 cursor-pointer form-field">
                <input type="checkbox" class="rounded-lg checkbox" />
                <div class="">Рыба</div>
              </label>
            </div>
          </div>
        </c-menu-items>
      </c-menu>
    </div>
  </div>

  <div class="news-plug rounded-2xl flex items-center overflow-hidden pr-4">
    <img class="w-full max-w-24 sm:max-w-48 lg:max-w-[270px]" src="img/rope.png" alt="">
    <div class="font-semibold text-base sm:text-xl lg:text-2xl">
      По данным хештегам ничего не найдено. <br class="hidden sm:block">
      Попробуйте выбрать другие хештеги
    </div>
  </div>
</section>

<%= require('./html-includes/footer.html')() %>