<%= require('./html-includes/header.html')() %>
<!--  -->
<%= require('./html-includes/page-top.html')() %>

<section class="p-section bg-l3 overflow-hidden" data-tab-cover>
  <div class="flex mb-8 gap-6 items-center z-[2]">
    <div class="font-semibold">Год проведения</div>
    <c-menu>
      <c-menu-button class="btn btn-primary btn-contur btn-sm rounded-xl border-default/20 px-4 gap-2">
        <div class="font-bold">2024</div>
        <c-icon class="icon" href="img/icons.svg#to-right"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 w-40 space-y-0.5" placement="bottom-start">
        <a href="javascript:;" class="btn btn-xs btn-primary rounded-md px-2 justify-start">
          2022
        </a>
        <a href="javascript:;" class="btn btn-xs btn-primary rounded-md px-2 justify-start">
          2023
        </a>
        <button class="btn btn-xs btn-primary rounded-md px-2 justify-start" disabled>
          2024
        </button>
      </c-menu-items>
    </c-menu>
  </div>

  <%= require('./html-includes/programm-tabs.html')() %>

</section>


<%= require('./html-includes/footer.html')() %>