<%= require('./html-includes/header.html')() %>
<!--  -->
<%= require('./html-includes/page-top.html')() %>

<section class="p-section bg-l3 overflow-hidden" data-tab-cover>
  <div class="flex mb-8 gap-6 items-center z-[2]">
    <div class="font-semibold">Год проведения</div>
    <c-menu>
      <c-menu-button class="btn btn-primary btn-contur btn-sm rounded-xl border-default/20 px-4 gap-2">
        <div class="font-bold">2024</div>
        <c-icon class="icon" href="img/icons.svg#to-right"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 w-40 space-y-0.5" placement="bottom-start">
        <a href="javascript:;" class="btn btn-xs btn-primary rounded-md px-2 justify-start">
          2022
        </a>
        <a href="javascript:;" class="btn btn-xs btn-primary rounded-md px-2 justify-start">
          2023
        </a>
        <button class="btn btn-xs btn-primary rounded-md px-2 justify-start" disabled>
          2024
        </button>
      </c-menu-items>
    </c-menu>
  </div>

  <div class="relative mb-10">
    <div class="programm-tabs swiper -mx-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="0" class="cursor-pointer programm-tab">17 октября (День 1)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="1" class="cursor-pointer programm-tab">18 октября (День 2)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="2" class="cursor-pointer programm-tab">19 октября (День 3)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="3" class="cursor-pointer programm-tab">20 октября (День 4)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="4" class="cursor-pointer programm-tab">17 октября (День 1)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="5" class="cursor-pointer programm-tab">18 октября (День 2)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="6" class="cursor-pointer programm-tab">19 октября (День 3)</div>
        </div>
        <div class="swiper-slide w-max md:w-1/4 px-4">
          <div data-tab-link="7" class="cursor-pointer programm-tab">20 октября (День 4)</div>
        </div>
        <!-- <div class="programm-tabs-plate" data-tab-plate></div> -->
      </div>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 right-full mr-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full programm-slider-prev">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-left"></c-icon>
      </button>
    </div>

    <div class="absolute top-1/2 -translate-y-1/2 left-full ml-2 z-[2] max-md:hidden">
      <button class="shadow-lg btn btn-primary btn-whitebg btn-icon roundef-full programm-slider-next">
        <c-icon class="text-2xl icon" href="img/icons.svg#to-right"></c-icon>
      </button>
    </div>
  </div>
  <div class="tab-content-cover">
    <% for(let i = 0; i < 7; i++) { %>
    <div class="tab-content" data-tab-content="<%= i %>">
      <div class="flex md:items-center max-md:flex-col mb-6 sm:mb-12 gap-4">
        <div class="title" data-animation="fadeInUp">18 октября (День 2)</div>
        <div class="flex sm:items-center max-sm:flex-col gap-2 sm:gap-4 md:ml-auto" data-animation="fadeInUp">
          <a href="javascript:;" class="btn btn-fill btn-primary">Скачать программу</a>
          <a href="javascript:;" class="btn btn-primary btn-contur">
            <span class="text-default">Посмотреть материалы</span>
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <!-- Регистрация -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Регистрация</div>
        </div>
        <!-- Открытие заседания -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Открытие заседания</div>
          <div class="mt-6 group" data-toggle-cover>
            <div class="mb-4 font-semibold sm:text-xl sm:mb-6">
              Пленарная сессия “Международная кооперация и инновации на рынке термочувствительных грузов”
            </div>
            <div class="mb-3 font-semibold">Ключевые вопросы:</div>
            <ul class="pl-5 leading-loose list-disc">
              <li>Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.</li>
              <li>Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li>Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.</li>
              <li>Инвестиционные проекты в рыбной отрасли.</li>
              <li>
                Развитие инфраструктуры и технологий для обеспечения НХЦ на торговых маршрутах международного рынка
                скоропортящейся продукции.
              </li>
              <li>Фарма-рынок: интеграция производства и логистики.</li>
              <li>Подготовка кадров для холодильной отрасли.</li>

              <li class="active-enabled">
                Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.
              </li>
              <li class="active-enabled">Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li class="active-enabled">
                Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.
              </li>
              <li class="active-enabled">Инвестиционные проекты в рыбной отрасли.</li>
            </ul>

            <button class="relative gap-2 mt-6 btn btn-blue btn-text" data-toggle-link>
              <div class="absolute -inset-4"></div>
              <span class="font-semibold active-disabled">Показать полностью</span>
              <span class="font-semibold active-enabled">Скрыть</span>
              <c-icon class="icon rotate-90 group-[.toggle-active]:-rotate-90" href="/img/icons.svg#to-right"></c-icon>
            </button>
          </div>
        </div>
        <!-- Перерыв -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex h-10 mb-3 border rounded-full w-36 sm:w-44 border-primary/50 sm:mb-4">
            <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
          </div>
          <div class="text-2xl sm:text-3.5xl font-semibold">Перерыв</div>
        </div>
        <!-- Кейс-сессия -->
        <div class="programm-item" data-animation="fadeInUp">
          <div class="flex flex-wrap gap-4 mb-3 sm:mb-4 max-sm:gap-x-1">
            <div class="flex h-10 border rounded-full w-36 sm:w-44 border-primary/50">
              <span class="m-auto font-semibold text-primary">09:00 - 10:00</span>
            </div>
            <div class="flex h-10 px-5 border rounded-full sm:px-6 border-default/20">
              <div class="m-auto">Конференц-зал</div>
            </div>
            <div class="flex rounded-full size-10 bg-sec/15">
              <c-icon class="m-auto text-2xl icon text-sec" href="/img/icons.svg#star"></c-icon>
            </div>
            <div class="flex border rounded-full size-10 border-default/20">
              <c-icon class="m-auto text-2xl icon" href="/img/icons.svg#headphones"></c-icon>
            </div>
            <div class="flex border rounded-full size-10 border-default/20">
              <c-icon class="m-auto text-2xl icon" href="/img/icons.svg#link"></c-icon>
            </div>
            <div class="flex items-center h-10 gap-3 pl-1 pr-6 border rounded-full border-default/20">
              <div class="flex rounded-full size-8 bg-primary">
                <c-icon class="m-auto text-2xl text-white icon" href="/img/icons.svg#online"></c-icon>
              </div>
              <div class="m-auto">Online</div>
            </div>
          </div>
          <div class="text-xl sm:text-3.5xl font-semibold">
            Кейс-сессия “Международная кооперация и инновации на рынке термочувствительных грузов”
          </div>

          <div class="mt-6 group" data-toggle-cover>
            <div class="mb-3 font-semibold">Ключевые вопросы:</div>
            <ul class="pl-5 leading-loose list-disc">
              <li>Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.</li>
              <li>Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li>Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.</li>
              <li>Инвестиционные проекты в рыбной отрасли.</li>
              <li>
                Развитие инфраструктуры и технологий для обеспечения НХЦ на торговых маршрутах международного рынка
                скоропортящейся продукции.
              </li>
              <li>Фарма-рынок: интеграция производства и логистики.</li>
              <li>Подготовка кадров для холодильной отрасли.</li>

              <li class="active-enabled">
                Роль и место повестки продуктовой безопасности во внутренней и внешней политике России.
              </li>
              <li class="active-enabled">Императивы развития перевозок скоропорта в новых экономических условиях.</li>
              <li class="active-enabled">
                Государственные меры поддержки развития экспорта российской продукции АПК на рынки АТР и ЮВА.
              </li>
              <li class="active-enabled">Инвестиционные проекты в рыбной отрасли.</li>
            </ul>

            <button class="gap-2 mt-6 btn btn-blue btn-text" data-toggle-link>
              <span class="font-semibold active-disabled">Показать полностью</span>
              <span class="font-semibold active-enabled">Скрыть</span>
              <c-icon class="icon rotate-90 group-[.toggle-active]:-rotate-90" href="/img/icons.svg#to-right"></c-icon>
            </button>
          </div>

          <div class="mt-6">
            <div class="mb-4 text-xl font-semibold">Спикеры</div>

            <div class="grid gap-6 md:grid-cols-2">
              <% for(let i = 0; i < 4; i++) { %>
              <div class="flex items-center gap-3">
                <img src="img/test.gif" alt="" class="object-cover rounded-full size-14" />
                <div>
                  <div class="font-semibold max-sm:text-sm">Дмитрий Патрушев</div>
                  <div class="text-sm opacity-60 max-sm:text-xs">Министр сельского хозяйства Российской Федерации</div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <div class="mt-6">
            <div class="mb-4 text-xl font-semibold">Модератор</div>

            <div class="grid gap-6 md:grid-cols-2">
              <div class="flex items-center gap-3">
                <img src="img/test.gif" alt="" class="object-cover rounded-full size-14" />
                <div>
                  <div class="font-semibold max-sm:text-sm">Дмитрий Песков</div>
                  <div class="text-sm opacity-60 max-sm:text-xs">Пресс-секретарь президента России</div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex gap-6 mt-6 md:flex-wrap md:gap-14 max-md:flex-col">
            <div>
              <div class="mb-4 text-xl font-semibold">Организаторы</div>
              <div class="flex flex-wrap grid-cols-2 gap-4 max-md:grid sm:grid-cols-3">
                <% for(let i = 0; i < 4; i++) { %>
                <div class="p-3 border support-item rounded-2xl border-default/10 md:w-40">
                  <div class="ratio ratio-4/3">
                    <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
                  </div>
                </div>
                <% } %>
              </div>
            </div>
            <div>
              <div class="mb-4 text-xl font-semibold">Информационные партнеры</div>
              <div class="flex flex-wrap grid-cols-2 gap-4 max-md:grid sm:grid-cols-3">
                <% for(let i = 0; i < 2; i++) { %>
                <div class="p-3 border support-item rounded-2xl border-default/10 md:w-40">
                  <div class="ratio ratio-4/3">
                    <img src="img/support-sempl.png" alt="" class="object-scale-down absolute-fit" />
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>
<script>
  new Swiper('.programm-tabs', {
    slidesPerView: 'auto',
    slideToClickedSlide: true,
    navigation: {
      prevEl: '.programm-slider-prev',
      nextEl: '.programm-slider-next',
    }
  })
</script>

<%= require('./html-includes/footer.html')() %>